html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
}

body {
  background: #f5f5f5;
  font-family: 'Arimo', sans-serif;
  margin: 0;
  font-size: 14px;
  line-height: 1.42857143;
  padding-bottom: 60px;
  overflow-x: hidden;
  color: #797979;
}

.hidden {
  display: none!important;
}

.main {
  /* height: 100vh;
  overflow: hidden; */
}

.page-content {
  position: absolute;
  left: 80px;
  top: 45px;
  right: 0;
  /* overflow-y: auto;
  height: 100%;
  margin-left: 80px; */
  padding: 8px;
}

a {
  color: inherit;
  text-decoration: none;
}
.top-nav {
  height: 45px;
  right: 0;
  left: 0;
  position: fixed;
  top: 0;
  z-index: 10;
  background-color: #2196f3;
  border-radius: 0;
  -webkit-box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.12), 0 2px 20px 0 rgba(0, 0, 0, 0.08);
          box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.12), 0 2px 20px 0 rgba(0, 0, 0, 0.08);
  border: none;
  margin-bottom: 0;
}

.topbar-left {
  float: left;
  position: relative;
  width: 150px;
  z-index: 1;
  text-align: center;
}

.brand {
  color: #ffffff;
  font-size: 30px;
  font-weight: 700;
  letter-spacing: .05em;
  line-height: 45px;
  text-transform: uppercase;
}

.brand a {
  color: #ffffff;
}

.top-nav.fixed {
  position: fixed;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transition: margin-top 0.10s ease-out 0s;
  -o-transition: margin-top 0.10s ease-out 0s;
  transition: margin-top 0.10s ease-out 0s;
  margin-top: 0;
  background-color: #202020;
  border-bottom: 1px solid #e6ecf0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1000;
}

.button-icon {
  border-radius: 10px;
  border: 2px solid #fff;
  cursor: pointer;
  -webkit-transition: all 0.15s ease-out 0s;
  -o-transition: all 0.15s ease-out 0s;
  transition: all 0.15s ease-out 0s;
  z-index: 99999;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .2), 0 6px 20px 0 rgba(0, 0, 0, .19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .2), 0 6px 20px 0 rgba(0, 0, 0, .19);
}

.button-icon:hover {
  -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .2), 0 1px 1px 0 rgba(0, 0, 0, .19);
          box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .2), 0 1px 1px 0 rgba(0, 0, 0, .19);
  -webkit-transform: scale(0.9, 0.9);
      -ms-transform: scale(0.9, 0.9);
          transform: scale(0.9, 0.9);
}
.side-nav {
  position: fixed;
  top: 45px;
  left: 0;
  bottom: 0;
  overflow: hidden;
  width: 80px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  padding: 10px;
  background: white;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: baseline;
      align-items: baseline;
  color: #172b4d;
  background: #f5f5f5;
}

a.side-link {
  margin: 8px 0;
  width: 100%;
  display: block;
}

a.selected {
  /* color: #2196f3 !important; */
  color: #0052CC;
  background-color: rgba(9,30,66,0.04);
}

.side-link p, i.icon {
  width: 100%;
  text-align: center;
}

/*# sourceMappingURL=app_bundle.css.map*/