html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: border-box;
  position: relative;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.hidden {
  display: none!important;
}
